body
  padding-top 61px
a
  color: #00B7FF

footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid rgba(218, 214, 222, 0.73)

.navbar-form
  .form-group
    margin-left 10px
  button
    margin-left 10px
  a
    margin-top -8px

.jumbotron {
  padding: 0.5em 0.6em;
  h1 {
    font-size: 4em;
  }
  p {
    font-size: 1.2em;
    .btn {
      padding: 0.5em;
    }
  }
  margin-bottom: 10px
}