.panel.panel-primary
    .panel-heading.text.center Favourite Stories
    .panel-body
        .row(ng-repeat="story in stories | filter: {favourite:true} | orderBy:'-stars' | limitTo: 10")
            .col-sm-2.nopadding
                img(ng-src="./images/favorite_yellow_16.png" width='8' height = '8' ng-repeat='i in getNumber(story.stars) track by $index')
                img(ng-src="./images/favorite_white_16.png" width='8' height = '8' ng-repeat='j in getRemainder(totalStars,story.stars) track by $index')
            .col-sm-7.nopadding
                a(href="#") {{ story.name }}
            .col-sm-3.nopadding
                a(href="#") {{ story.author }}