.container
    .jumbotron
        h1 PadMash
            p Share the experience of writting a book or story with your friends.

    .row
        .col-md-4
            div(ng-include="'/partials/main/favourite-stories'")
        .col-md-6
            //div(ng-include="'/partials/main/new-courses'")