.container
    .jumbotron
        h1 PadMash
        p Share the experience of writting a book or story with your friends.
          | Start your own or take your friends' else's story wherever you like.

    .row
        .col-md-6
            div(ng-include="'/partials/main/favourite-stories'")
        .col-md-6
            div(ng-include="'/partials/main/new-stories'")