.panel.panel-primary
   .panel-heading.text.center New Stories
   .panel-body
      .row(ng-repeat="story in stories | orderBy: 'published':true | limitTo: 10")
         .col-sm-2 {{ story.published | date: 'MMM d' }}
         .col-sm-7
             a(href="#") {{ story.name }}
         .col-sm-3
             a(href="#") {{ story.author }}

